@model IEnumerable<CasoEstudio2.Entities.CasasEntidad>

@{
    ViewBag.Title = "ConsultarCasas";
}

<h2>Consultar Casas</h2>

<p>
    • Mostrar Descripción, Precio, Usuario, Estado (Disponible o Reservada) y la fecha en formato dd/MM/yyyy.<br>
    • Mostrar los registros que tengan un precio entre 115.000 y 180.000.<br>
    • Ordenar el resultado por estado (las casas disponibles se muestren de primero).
</p>

<button class="p-1">@Html.ActionLink("ALQUILAR CASA", "AlquilerCasas", "Casas", new { area = "" }, new { @class = "navbar-brand" })</button>
<p></p>

<table class="table">
    <tr>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Estado</th>

        <th>Usuario Alquiler</th>
        <th>Fecha Alquiler</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DescripcionCasa</td>
            <td>@item.PrecioCasa</td>
            <td>@item.Estado</td>

            @if (item.UsuarioAlquiler != null)
            {
                <td>@item.UsuarioAlquiler</td>
            }
            else
            {
                <td>N/A</td>
            }

            @if (@item.FechaAlquiler != null)
            {
                <td>@item.FechaAlquiler</td>
            }
            else
            {
                <td>N/A</td>
            }
        </tr>
    }

</table>
