@model IEnumerable<CasoEstudio2.Entities.CasasEntidad>

@{
    ViewBag.Title = "ConsultarCasas";
}

<h2>ConsultarCasas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Estado</th>

        <th>Usuario Alquiler</th>
        <th>Fecha Alquiler</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.DescripcionCasa</td>
        <td>@item.PrecioCasa</td>
        <td>@item.Estado</td>

        @if (item.UsuarioAlquiler != null)
        {
            <td>@item.UsuarioAlquiler</td>
        }
        else
        {
            <td>N/A</td>
        }

        @if (@item.FechaAlquiler != null)
        {
            <td>@item.FechaAlquiler</td>
        }
        else
        {
            <td>N/A</td>
        }
    </tr>
}

</table>
